<div class="register-wrapper">

  <h1>Register</h1>
  <div class="close-button" (click)="clickClose()"><mat-icon style = "color:#CACACA">close</mat-icon></div>

  <form #myForm="ngForm" (ngSubmit)="regValidate()" ngNativeValidate>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="name" name="name" [(ngModel)]="username" required >

      <input type="password" class="form-control" placeholder="password" name="pass" [(ngModel)]="password" required>

      <input type="password" class="form-control" placeholder="repeat password" name="repeatPass" [(ngModel)]="repeatPass" required>
    </div>

    <button type="submit" class="submit-btn">Submit</button>
  </form>

  <button type="button" class="login-btn" (click)="clickLogin()">Login</button>

</div>
