<div class="register-wrapper">
  <h1>Register</h1>
  <div class="close-button" (click)="clickClose()"><mat-icon style = "color:#CACACA">close</mat-icon></div>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="name" id="name" required>

      <input type="password" class="form-control" placeholder="password" id="pass">

      <input type="password" class="form-control" placeholder="repeat password" id="repeatPass">
    </div>

    <button type="submit" class="submit-btn">Submit</button>

    <button type="submit" class="login-btn" (click)="clickLogin()">Login</button>

  </form>
</div>
