<div class='footer-wrapper'>
  <div class='play-buttons'>
    <div class='previousTrack button'><mat-icon style = "color:#CACACA">fast_rewind</mat-icon></div>
    <div class='play button'><mat-icon style = "color:#D3D3D3; transform: scale(1.5);">play_arrow</mat-icon></div>
    <div class='nextTrack button'><mat-icon style = "color:#CACACA">fast_forward</mat-icon></div>
  </div>
  <div class='timeline'>
    <div class='playhead'></div>
    <div class='hover-playhead'></div>
  </div>
  <div class='sound-volume'></div>
  <div class='control-buttons'></div>
</div>
