<div class='content-wrapper'>
  <ng-container *ngIf="modalWindow === 'closed'">
    <app-music-card *ngFor="let card of musicList, index as i"
                    [cardData]="card"
                    [isActive]="activeCard"
                    (click)="playMusicCard(card.id)">
    </app-music-card>
  </ng-container>

  <app-login *ngIf="modalWindow === 'login'"></app-login>

  <app-register *ngIf="modalWindow === 'register'"></app-register>

  <app-add-song *ngIf="modalWindow === 'addSong'"></app-add-song>
</div>
